<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/content.css">
</head>
<body>
    <div class="mainTitle">
        <h1>macroBlog</h1>
        <div>
            <button><a href="/profile">start!</a></button>
        </div>
    </div>
</body>
</html>