<div class="wrapper">
    <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span>

    <div class="form-box login">
        <h2>Login</h2>
        <form id="login-form" action="#">
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </span>
                <input id="email-login" type="email" required>
                <label>EMAIL</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon>
                </span>
                <input id="password-login" type="password" required>
                <label>Password</label>
            </div>
            <button type="submit" class="btn">Login
            </button>     
        </form>
    </div>
</div>

<script src="/js/login.js"></script>